@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400&family=Nova+Square&family=Poppins&family=Roboto+Mono:ital@1&display=swap');

* {
    box-sizing: border-box;
  }
*
{
   font-family: 'Karla', sans-serif;
   font-family: 'Nova Square', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto Mono', monospace;
}
  html,
  body {
    color: #99a0b0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #f5f5fa;
    font-size: 16px;
    line-height: 120%;
    font-family: Open Sans, Helvetica, sans-serif;
  }
  .dashboard {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 0;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
    grid-template-areas: 'menu search' 'menu content';
  }
  .search-wrap {
    grid-area: search;
    background: #fff;
    border-bottom: 1px solid #ede8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
  }
  .search-wrap .search {
    height: 40px;
  }
  .search-wrap .search label {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .search-wrap .search label svg {
    display: block;
  }
  .search-wrap .search label svg path,
  .search-wrap .search label svg circle {
    fill: #b6bbc6;
    transition: fill 0.15s ease;
  }
  .search-wrap .search label input {
    display: block;
    padding-left: 1em;
    height: 100%;
    margin: 0;
    border: 0;
  }
  .search-wrap .search label input:focus {
    background: #f5f5fa;
  }
  .search-wrap .search label:hover svg path,
  .search-wrap .search label:hover svg circle {
    fill: #2b3a60;
  }
  .search-wrap .user-actions button {
    border: 0;
    background: none;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
  }
  .search-wrap .user-actions button svg {
    position: relative;
    top: 2px;
  }
  .search-wrap .user-actions button svg path,
  .search-wrap .user-actions button svg circle {
    fill: #b6bbc6;
    transition: fill 0.15s ease;
  }
  .search-wrap .user-actions button:hover svg path,
  .search-wrap .user-actions button:hover svg circle {
    fill: #2b3a60;
  }
  .menu-wrap {
    grid-area: menu;
    padding-bottom: 3em;
    overflow: auto;
    background: #fff;
    border-right: 1px solid #ede8f0;
  }
  .menu-wrap .user {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0 3em;
  }
  .menu-wrap .user .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  .menu-wrap .user .user-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu-wrap .user figcaption {
    margin: 0;
    padding: 0 0 0 1em;
    color: #1b253d;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 100%;
  }
  .menu-wrap nav {
    display: block;
    padding: 0 3em;
  }
  .menu-wrap nav section {
    display: block;
    padding: 3em 0 0;
  }
  .menu-wrap nav h3 {
    margin: 0;
    font-size: 0.875em;
    text-transform: uppercase;
    color: #4b84fe;
    font-weight: 600;
  }
  .menu-wrap nav ul {
    display: block;
    padding: 0;
    margin: 0;
  }
  .menu-wrap nav li {
    display: block;
    padding: 0;
    margin: 1em 0 0;
  }
  .menu-wrap nav li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #99a0b0;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875em;
    transition: color 0.15s ease;
  }
  .menu-wrap nav li a svg {
    display: block;
    margin-right: 1em;
  }
  .menu-wrap nav li a svg path,
  .menu-wrap nav li a svg circle {
    fill: #b6bbc6;
    transition: fill 0.15s ease;
  }
  .menu-wrap nav li a:hover {
    color: #1b253d;
  }
  .menu-wrap nav li a:hover svg path,
  .menu-wrap nav li a:hover svg circle {
    fill: #2b3a60;
  }
  .menu-wrap nav li a.active {
    color: #4b84fe;
  }
  .menu-wrap nav li a.active svg path,
  .menu-wrap nav li a.active svg circle {
    fill: #4b84fe;
  }
  .content-wrap {
    grid-area: content;
    padding: 3em;
    overflow: auto;
  }
  .content-wrap .content-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content-wrap .content-head h1 {
    font-size: 1.375em;
    line-height: 100%;
    color: #1b253d;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  .content-wrap .content-head .action button {
    border: 0;
    background: #4b84fe;
    color: #fff;
    width: auto;
    height: 3.5em;
    padding: 0 2.25em;
    border-radius: 3.5em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.15s ease;
  }
  .content-wrap .content-head .action button:hover {
    background-color: #1861fe;
  }
  .content-wrap .content-head .action button:hover:active {
    background-color: #0149e2;
    transition: none;
  }
  .content-wrap .info-boxes {
    padding: 3em 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2em;
  }
  .content-wrap .info-boxes .info-box {
    background: #fff;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    border: 1px solid #ede8f0;
    border-radius: 5px;
  }
  .content-wrap .info-boxes .info-box:hover{
    background-color:#3740e13f;
    color: black;
    height: 190px;
    cursor:pointer;
  }

  .content-wrap .info-boxes .info-box .box-icon svg {
    display: block;
    width: 48px;
    height: 48px;
  }
  
  .content-wrap .info-boxes .info-box .box-content {
    padding-left: 1.25em;
    white-space: nowrap;
  }
  .content-wrap .info-boxes .info-box .box-content .big {
    display: block;
    font-size: 2em;
    line-height: 150%;
    color: #1b253d;
  }
  
  
  
  
  
  
  button{
    cursor: pointer;
  }

  a{
    cursor: pointer;
  }
  svg{
    cursor: pointer;
  }


  #big3{
    color: black;
    width:1000px;
    height:350px;
    margin-bottom:30px;
}
#myChart {
   width:100px; /* Assurez-vous que le diagramme ne dépasse pas de son conteneur */
   
    
    display: block; /* Évite un léger espace sous le diagramme */
}

#big3 h4 {
    color: #041e42;
    margin-top: 10px;
}
#big3 h3{
    
    position: absolute;
    left:250px;
    font-family: 'Lucida Sans';
}
#jorrari{
  display: inline;
}
h2{
  color: #133b74ea;
  font-weight:600;
}

.table{
  box-shadow: #0149e2;
}